body {
  font-family: sans-serif;
  background-color: #ededed;
  color: #1973d5;
  width: 80%;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 7px;
  color: #ccc;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 11px;
  padding-top: 7px;
  color: #ccc;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 11px;
  padding-top: 7px;
  color: #ccc;
}
:-ms-input-placeholder {
  font-size: 11px;
  padding-top: 7px;
  color: #ccc;
}
#buttons {
  text-align: center;
}
button {
  background-color: #1973d5;
  padding: 15px;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  width: 20%;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 4px solid #14609f;
  text-shadow: 0px 2px 0px #14609f;
}
#equals {
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 40px;
  text-shadow: 0px 1px 0px #14609f;
}
button:focus {
  outline: none;
  border-bottom: 0px solid #14609f;
}
button:hover {
  background-color: #3186d0;
  border-bottom: 4px solid #14609f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input {
  display: block;
  margin: 20px 0;
  padding: 10px;
  width: 38%;
  height: 30px;
  margin: 10px 10px 10px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #ccc;
}
#num1 {
  float: left;
}
#num2 {
  float: right;
}
input:focus {
  outline: none;
  -moz-box-shadow: inset 0 0 3px #999;
  -webkit-box-shadow: inset 0 0 3px #999;
  box-shadow: inset 0 0 3px #999;
}
#result {
  display: block;
  height: 45px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
}
